a {
  cursor: pointer;
}

input {
  border: none;
}

.header {
  /* Frame 1052 */
  height: 32px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-details {
  /* Frame 1378 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.back-target {
  cursor: pointer;
  background-color: white;
  border: none;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.action-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f8f9;
  border-radius: 10000px;
}

.action-button:hover {
  background: #eeeff2;
}
.action-button:focus {
  background-color: #e7e8eb;
}
.header-details-description {
  /* Confirm Delete */

  height: 18px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

.save-button-container {
  border: none;

  cursor: pointer;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 4px;

  height: 32px;

  /* Green POP */
  background: #b0ff00;
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.save-button-container:hover {
  background: #a8eb17;
}
.save-button-container:focus {
  background: #a2e217;
}

.save-button-text {
  /* Save */

  width: 25px;
  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Green 900 */

  color: #264e25;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.save-button-container-disabled {
  background-color: #f7f8f9;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 57px;
  height: 32px;

  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  cursor: not-allowed;
}

.save-button {
  cursor: pointer;

  border: none;

  background-color: rgba(255, 255, 255, 0);

  height: 11px;

  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Green 900 */
  color: #264e25;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primary-content-container {
  /* Frame 1377 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.primary-content-header {
  /* Frame 1418 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  /* grayscale4 */
  border: 1px solid #f7f8f9;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.primary-content-header-group {
  /* Frame 1372 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 268px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
}

.primary-content {
  width: 100%;
  /* Frame 1417 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.primary-group {
  /* Frame 1374 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  width: 100%;

  /* grayscale4 */
  border: 1px solid #f7f8f9;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: -1px 0px;
}

.primary-group:first-child:not(:only-child) {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
}

.primary-group:last-child:not(:only-child) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.primary-group:only-child {
  border-radius: 8px;
}

.primary-group-sub {
  /* Frame 1037 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
.primary-group-sub.textarea {
  height: auto;
}

.primary-group-label {
  height: 14px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  margin-left: 2px;

  color: #a6a8ac;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.primary-group-value {
  height: 14px;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.primary-group-value.textarea {
  height: auto;
}

.primary-group-value.with-action-button {
  display: flex;
  align-items: center;
}

.primary-group-input {
  outline: none;
}

.primary-group-input.with-action-button {
  outline: none;
  max-width: 276px;
}

.primary-group-textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  width: 325px;
  min-height: 60px;
  outline: none;
  border: none;
  resize: none;
  overflow: auto;
}

.primary-group-input:focus {
  outline: none;
}

.vault-item-ellipse {
  /* Service Icon */
  border: 1px solid #e6e6e6;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  order: 0;
}

.add-wallet-address-button-outer {
  cursor: pointer;
  border: none;
  /* Save */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 30px;

  background: #f8f8f8;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}


.scan-button-outer {
  cursor: pointer;
  border: none;
  /* Save */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 4px;

  height: 32px;

  background: #f8f8f8;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.scan-button-outer:hover {
  background: #eeeff2;
}
.scan-button-outer:focus {
  background-color: #e7e8eb;
}

.scan-button-inner {
  /* Frame 964 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 88px;
  height: 11px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.scan-button-spinner-container {
  margin: auto;
}

.scan-button-spinner {
  animation: spin 3s linear infinite;
  width: 16px;
  height: 16px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  position: absolute;
  left: 184px;
  top: 234px;

  animation: spin 3s linear infinite;
  width: 32px;
  height: 32px;
}

.delete-button-container {
  border: none;
  /* Frame 1043 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 9px;
  gap: 10px;

  /* Tertiary1 */

  background: #ffd9d9;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.delete-button-container:hover {
  background-color: #fce0e0;
}
.delete-button-container:focus {
  background-color: #f8d2d2;
}

.header-trash-button {
  /* 􀈒 */

  width: 12px;
  height: 12px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  /* Secondary1 */

  color: #fc511f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.confirm-delete-button {
  cursor: pointer;
  /* Frame 1043 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: 348px;
  height: 32px;

  /* Tertiary1 */

  background: #ffd9d9;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.confirm-delete-button:hover {
  background: #fae6e6;
}
.confirm-delete-button:focus {
  background: #f9d3d3;
}

.confirm-delete-button-text {
  /* Delete */

  width: 36px;
  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Secondary1 */

  color: #fc511f;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.scan-group {
  /* Frame 1376 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  width: 100%;
  height: 78px;

  /* grayscale4 */

  border: 1px solid #f7f8f9;
  border-radius: 0px 0px 8px 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.scan-group-sub {
  /* Frame 1372 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  height: 46px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.scan-group1 {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 172px;
  height: 46px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.scan-group-header {
  margin-left: 2px;
  /* 2 Factor Code */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  color: #a6a8ac;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.scan-group-input {
  /* Can’t scan QR code? Enter OTP URL */

  width: 172px;
  height: 28px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.scan-group-input::-webkit-input-placeholder {
  height: 40px;
  color: black;
}

.scan-group-input:focus {
  outline: none;
}

.scan-group-label {
  height: 14px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  color: #a6a8ac;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.scan-group-value {
  display: flex;
  flex-direction: row;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.scan-added {
  /* Frame 1083 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6.5px 8px;
  gap: 2px;

  width: 81px;
  height: 24px;

  /* Secondary3 */

  border: 1px solid #00bb00;
  border-radius: 1000px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.scan-added-header {
  /* 2 Factor Code */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  color: #a6a8ac;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.scan-added-group {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 273px;
  height: 42px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.scan-added-outer {
  /* Frame 1372 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  height: 42px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-button-group {
  /* Frame 1430 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.rolling-mfa-container {
  box-sizing: border-box;

  /* Auto layout */
  align-items: center;
  justify-content: center;
  padding: 6.5px 8px;
  gap: 2px;

  height: 24px;

  /* Secondary3 */
  border: 1px solid #00bb00;
  border-radius: 1000px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.obscured-otp-seed {
  width: 65px;
  height: 11px;

  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: capitalize;

  /* Secondary3 */
  color: #00bb00;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.obscured-img {
  height: 12px;
}

.separator {
  /* Line 97 */
  height: 0px;

  /* grayscale4 */

  border: 1px solid #f7f8f9;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.vault-item-logo {
  width: 32px;
  height: 32px;
}

.website-url-group {
  /* Frame 1418 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  height: 64px;

  /* grayscale4 */

  border: 1px solid #f7f8f9;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.website-url-group.has-error {
  border: 1px solid red;
}

.website-url-container {
  /* Frame 1372 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 268px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.website-url-sub {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 268px;
  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.website-url-text1 {
  margin-left: 1px;
  /* Website URL */

  width: 268px;
  height: 14px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  color: #a6a8ac;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.website-url-error-text {
  width: 100%;
  height: 14px;
  color: red;
  margin-top: -8px;
  text-align: center;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.website-url-input {
  width: 268px;
  height: 14px;

  border: none !important;
  border-color: transparent !important;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.website-url-input:focus {
  outline: none;
}

/* Couldn't figure out what is setting stuff.  This unsets it all */
button {
  appearance: unset;
  writing-mode: unset;
  font-style: unset;
  font-variant-ligatures: unset;
  font-variant-caps: unset;
  font-variant-numeric: unset;
  font-variant-east-asian: unset;
  font-weight: unset;
  font-stretch: unset;
  font-size: unset;
  font-family: unset;
  text-rendering: unset;
  color: unset;
  letter-spacing: unset;
  word-spacing: unset;
  line-height: unset;
  text-transform: unset;
  text-indent: unset;
  text-shadow: unset;
  display: unset;
  text-align: unset;
  align-items: unset;
  cursor: unset;
  box-sizing: unset;
  background-color: unset;
  margin: unset;
  padding: unset;
  border-width: unset;
  border-style: unset;
  border-color: unset;
  border-image: unset;
}

.are-you-sure-outer {
  /* Frame 1385 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0px;
  gap: 16px;

  width: 348px;
  height: 95px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.are-you-sure-inner {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 348px;
  height: 63px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.are-you-sure-text1 {
  /* Are you sure you’d like to delete this item? */

  width: 348px;
  height: 17px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.01em;

  color: #000000;
}

.are-you-sure-text2 {
  /* If you have 2 Factor Authentication on this account, disable it from the website first. Otherwise, you may lose access to your account. */

  width: 348px;
  height: 42px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #000000;
}

.btn-group2 {
  /* Frame 1565 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  height: 32px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn1-outer {
  /* Save */

  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  height: 32px;

  background: #f7f8f9;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn1-outer:hover {
  background: #eeeff2;
}
.btn1-outer:focus {
  background-color: #e7e8eb;
}

.btn1-inner {
  /* Frame 964 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  height: 11px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn1-text {
  /* Save */

  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #989faa;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn2-outer {
  /* Save */

  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  height: 32px;

  background: #f7f8f9;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn2-outer:hover {
  background: #eeeff2;
}
.btn2-outer:focus {
  background-color: #e7e8eb;
}

.btn2-inner {
  /* Save */

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #989faa;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.socials-container {
  /* Frame 1561 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px 16px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.discord-btn {
  /* Save */

  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;

  height: 32px;

  background: #5865f2;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.discord-btn:hover {
  background: #6873e8;
}
.discord-btn:focus {
  background: #4c59ea;
}

.discord-logo {
  /* Vector */

  width: 14.4px;
  height: 11.15px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.discord-text-container {
  /* Frame 964 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  height: 11px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.discord-text {
  /* Save */

  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.twitter-btn {
  /* Save */

  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;

  height: 32px;

  background: #1d9bf0;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.twitter-btn:hover {
  background: #29a3f4;
}
.twitter-btn:focus {
  background: #1294eb;
}

.twitter-logo {
  /* white background */

  width: 14.31px;
  height: 11.96px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.twitter-text {
  /* Follow on Twitter */

  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.twitter-text-container {
  /* Frame 964 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  height: 11px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.setting-item {
  /* Frame 1556 */

  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.setting-item:hover {
  background: #eeeff2;
}
.setting-item:focus {
  background-color: #e7e8eb;
}

.setting-item-text {
  /* Open command menu (CMD+SHIFT+K) */

  width: 229px;
  height: 14px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 590;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.0008em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.setting-item-carrot {
  /* 􀯻 */

  width: 8px;
  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: -0.0008em;

  /* grayscale3 */

  color: #ced6df;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.dont-share-container {
  /* Frame 1387 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 8px;

  /* Secondary1 */

  background: #fc511f;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.dont-share-header {
  /* Frame 1383 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 8px;
  gap: 8px;

  /* grayscale1 */

  background: #ffffff;
  border-radius: 1000px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dont-share-header-text {
  /* DO NOT SHARE YOUR PRIVATE KEY */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Secondary1 */

  color: #fc511f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.dont-share-header-text1 {
  /* If someone has your private key, they will have access to your Uno account. */

  width: 316px;
  height: 28px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  /* grayscale1 */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.pkey-container {
  /* Frame 1386 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  height: 60px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.pkey-inner {
  /* Frame 1374 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 8px;

  width: 100%;
  height: 100px;

  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.pkey {
  width: 324px;
  overflow-wrap: anywhere;
  overflow: hidden;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 510;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  filter: blur(4.5px);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.pkey:hover {
  filter: unset;
}
