.separator {
  /* Line 97 */
  height: 0px;

  /* grayscale4 */

  border: 1px solid #f7f8f9;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header {
  /* Frame 1052 */
  height: 32px;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.header-details {
  /* Frame 1378 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 18px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.action-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f8f9;
  border-radius: 10000px;
}

.action-button:hover {
  background: #eeeff2;
}
.action-button:focus {
  background-color: #e7e8eb;
}
.header-details-description {
  /* Confirm Delete */

  height: 18px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;
}

.other-device-container {
  /* Frame 1373 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  width: 369px;

  /* grayscale1 */

  background: #ffffff;
  /* grayscale4 */

  border: 1px solid #f7f8f9;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.other-header {
  /* Frame 1373 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 17px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.other-text-container {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  height: 17px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.other-text {
  /* Login into another device with QR Code */

  height: 17px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.other-details-container {
  /* Frame 1533 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.other-details-text {
  /* Open the Uno app > Go to settings > Select Add Another Device > Scan QR Code */
  margin-top: 5px;
  width: 156px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  /* or 131% */

  display: flex;
  align-items: flex-end;

  /* grayscale2 */

  color: #717280;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.other-details-img {
  width: 150px;
  height: 120px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.get-uno-container {
  /* Frame 1560 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;

  width: 369px;

  /* grayscale1 */

  background: #ffffff;
  /* grayscale4 */

  border: 1px solid #f7f8f9;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.get-uno-header {
  /* Frame 1373 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  height: 17px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.header-text-container {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  height: 17px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.header-text {
  /* Get Uno for iOS and MacOS */

  height: 17px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.log-outer {
  /* Frame 1385 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 16px 32px 16px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.log-inner {
  /* Frame 1037 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 348px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.log-header {
  /* Before logging out, confirm: */

  width: 348px;
  height: 17px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.log-text-container {
  /* Frame 1586 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 348px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.log-text-container-inner {
  /* Frame 1587 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 314px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.log-text-container-header {
  /* Trusted Contacts are set up */

  width: 314px;
  height: 14px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 590;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.log-text-container-content {
  width: 330px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  /* grayscale2 */

  color: #717280;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.log-text2 {
  /* Make sure you saved a copy of your private key. Without it, you won’t be able to re-access your account. */

  width: 348px;
  height: 28px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.logout-btn {
  cursor: pointer;
  /* Frame 1043 */

  /* Auto layout */
  margin-left: 16px;
  margin-right: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;

  height: 32px;

  /* Tertiary1 */

  background: #ffd9d9;
  border-radius: 10000px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.logout-btn:hover {
  background: #fae6e6;
}
.logout-btn:focus {
  background: #f9d3d3;
}

.logout-btn-text {
  /* Confirm Log out */

  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  padding: 10px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Secondary1 */

  color: #fc511f;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-pk-description-container {
  /* Frame 1533 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 300px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.copy-pk-container {
  /* Frame 1599 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 300px;
  height: 100px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.blur-pk-outer {
  /* Frame 1386 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 300px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.blur-pk-inner {
  /* Frame 1374 */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 12px;
  gap: 8px;

  overflow-wrap: anywhere;
  overflow: hidden;

  width: 300px;

  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.blur-pk-text {
  width: 276px;

  filter: blur(4.5px);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 510;
  font-size: 12px;
  line-height: 14px;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.blur-pk-outer:hover .blur-pk-text {
  filter: unset;
}

.copy-btn {
  /* Auto layout */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;

  width: 300px;
  height: 32px;

  /* grayscale4 */

  background: #f7f8f9;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.copy-btn:hover {
  background: #eeeff2;
}
.copy-btn:focus {
  background-color: #e7e8eb;
}

.copy-btn-inner {
  /* Frame 964 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 27px;
  height: 11px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.copy-btn-text {
  /* Save */

  width: 27px;
  height: 11px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 11px;
  /* identical to box height */

  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* grayscale5 */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.pkey {
  width: 324px;
  overflow-wrap: anywhere;
  overflow: hidden;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 510;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 8px;

  filter: blur(4.5px);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.pkey:hover {
  filter: unset;
}
